<body id="page-top">
    <div id="wrapper">        
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/home">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SB Admin <sup></sup></div>
            </a>
            <hr class="sidebar-divider my-0">
            <hr class="sidebar-divider">
            

           <app-seguridad></app-seguridad>            
            <app-prestamos></app-prestamos>
            
            <hr class="sidebar-divider">
        </ul>
        
        
          
        <div id="content-wrapper" class="d-flex flex-column">
            
            <div id="content">
                <app-header></app-header>
                <div class="col-lg-4" style="margin: 0 auto;">
                    <div class="form-group" *ngIf="errorStatus_0 === true">
                        <span class="help-block">
                            <strong>{{ errorMsj_0 }}</strong>
                        </span>
                    </div>
                    <div class="form-group" *ngIf="errorStatus_1 === true">
                        <span class="help-block">
                            <strong>{{ errorMsj_1 }}</strong>
                        </span>
                    </div>
                    <div class="form-group" *ngIf="errorStatus_2 === true">
                        <span class="help-block">
                            <strong>{{ errorMsj_2 }}</strong>
                        </span>
                    </div>
                    <div class="form-group" *ngIf="errorStatus_3 === true">
                        <span class="help-block">
                            <strong>{{ errorMsj_3 }}</strong>
                        </span>
                    </div>
                    <div class="form-group" *ngIf="exitStatus === true">
                        <span class="help-block">
                            <strong>{{ exitMsj }}</strong>
                        </span>
                    </div>
                    <form [formGroup]= "saldoForm" (ngSubmit)="onModificar(saldoForm.value)">
                <div class="form-group">
                    Cantidad (COP)                   
                   <input type="number" id="cantidad" formControlName="cantidad" class="form-control form-control-user" min="1" max="4v200000000" value="" placeholder="Ingreso agregado al saldo">
             
                </div>
               <div class="form-group">
                   
                  Tipo de modificación
                   
               <select formControlName ="tipo" class="form-control" id="inputSeccion_id">
                       
                      <option value ="true"> Agregar saldo</option>
                      <option value ="false">Restar saldo</option>
 
                  </select>
                  <br>
                  <input type="submit"  class="btn btn-success btn-user btn-block" value="enviar">
                    
               </div>
            </form> 
                

                
            </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
    
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</body>

