<body id="page-top">
    <div id="wrapper">
        
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/home">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SB Admin <sup></sup></div>
            </a>
            <hr class="sidebar-divider my-0">
            <hr class="sidebar-divider">
            

           <app-seguridad></app-seguridad>
            
            <app-prestamos></app-prestamos>
            
            <hr class="sidebar-divider">
        </ul>
        
        
        
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <app-header></app-header>
              <!-- Formulario de registro de usuario-->  
                <div class="col-lg-4" style="margin: 0 auto;">
                    <div class="form-group" *ngIf="exitStatus">
                        <span class="help-block">
                            <strong>{{ exitMsj }}</strong>
                        </span>
                    </div>
                    <div class="form-group" *ngIf="errorStatus_5">
                        <span class="help-block">
                            <strong>{{ errorMsj_5}}</strong>
                        </span>
                    </div>
                    <div class="form-group" *ngIf="errorStatus_0">
                        <span class="help-block">
                            <strong>{{ errorMsj_0}}</strong>
                        </span>
                    </div>
                    <form [formGroup]= "RegisterForm" (ngSubmit)="onRegister(RegisterForm.value)">
                    <div class="form-group">
                        Cedula:
                        <input type="text" class="form-control form-control-user" formControlName='cedula' placeholder="(obligatorio)" value="" maxlength="40">
                    </div>
                    <div class="form-group" *ngIf="errorStatus_1">
                        <span class="help-block">
                            <strong>{{ errorMsj_1 }}</strong>
                        </span>
                    </div>
                    <div *ngIf="tipoPrestamo">
                        Tipo prestamo:
                    <select formControlName="tipo_prestamo" class="form-control"  >                         
                        <option value ="1">Prestamos por días</option>
                        <option value ="2">Prestamos por mes</option>   
                    </select> 
                    </div> 
                    <div class="form-group">
                        Nombres:
                        <input type="text" class="form-control form-control-user" formControlName='nombres' placeholder="(obligatorio)" value="" maxlength="90" onkeyup="javascript:this.value=this.value.toUpperCase();">
                    </div>
                    <div class="form-group">
                        apellidos:
                        <input type="text" class="form-control form-control-user" formControlName='apellidos' placeholder="(obligatorio)" value="" maxlength="90" onkeyup="javascript:this.value=this.value.toUpperCase();">
                    </div>
                    <div class="form-group">
                        Email:
                        <input type="text" class="form-control form-control-user" formControlName='email' placeholder="(obligatorio)" value="" maxlength="245" onkeyup="javascript:this.value=this.value.toLowerCase();">
                    </div>
                    <div class="form-group" *ngIf="errorStatus_2">
                        <span class="help-block">
                            <strong>{{ errorMsj_2 }}</strong>
                        </span>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            Contraseña:
                            <input id="password" type="password" class="form-control" formControlName="password" placeholder="(obligatorio)" maxlength="20">
                        </div>
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            Repetir Contraseña:
                            <input id="password_confirm" type="password" class="form-control" formControlName="password_confirm" placeholder="(obligatorio)" maxlength="20"></div>
                    </div>
                    <div class="form-group" *ngIf="errorStatus_3">
                        <span class="help-block">
                            <strong>{{ errorMsj_3 }}</strong>
                        </span>
                    </div>
                    
                    <button class="btn btn-success btn-user btn-block" type="submit">registrar</button>
                    <button class="btn btn-secondary btn-user btn-block" type="reset">Limpiar</button>
                    </form>
                  
                </div>
              
               <!-- Fin del formulario de registro de usuario-->            
            </div>
            <app-footer></app-footer>
        </div>
    </div>
    
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</body>