<body id="page-top">
    <div id="wrapper">
        
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/home">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SB Admin <sup></sup></div>
            </a>
            <hr class="sidebar-divider my-0">
            <hr class="sidebar-divider">
            

            <li class="nav-item active">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i></i><span>Seguridad</span>
                </a>
                
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">    
                        <a class="collapse-item active" routerLink="/registrar" >Registrar usuario</a>
                        <a class="collapse-item" href="RegistrarCliente" onclick = "location = 'RegistrarCliente'">Registrar cliente</a> 
                        <a class="collapse-item" href="ModificarCliente" onclick = "location = 'ModificarCliente'">Modificar cliente</a>
                        <a class="collapse-item" href="ModificarSaldo" onclick = "location = 'ModificarSaldo'">Modificar saldo</a>
                    </div>
                </div>
            </li>
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                    <i></i><span>Prestamos</span>
                </a>
                
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="HacerPrestamo" onclick = "location = 'HacerPrestamo'" href="utilities-color.html">Hacer Prestamo</a>
                        <a class="collapse-item" href="EditarPrestamo" onclick = "location = 'EditarPrestamo'" href="utilities-color.html">Editar Prestamo</a>
                        <a class="collapse-item" href="RegistrarPago" onclick = "location = 'RegistrarPago'" href="utilities-border.html">Registrar Pago</a>            
                        <a class="collapse-item" href="HistorialPago" onclick = "location = 'HistorialPago'" href="utilities-border.html">Historial de Pago</a>            
                    </div>
                </div>
            </li>
            
            <hr class="sidebar-divider">
        </ul>
        
        
        
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <app-header></app-header>
              <!-- Formulario de registro de usuario-->  
                <div class="col-lg-4" style="margin: 0 auto;">
                    <div class="form-group" *ngIf="exitStatus">
                        <span class="help-block">
                            <strong>{{ exitMsj }}</strong>
                        </span>
                    </div>
                    <div class="form-group" *ngIf="errorStatus_5">
                        <span class="help-block">
                            <strong>{{ errorMsj_5}}</strong>
                        </span>
                    </div>
                    <div class="form-group" *ngIf="errorStatus_0">
                        <span class="help-block">
                            <strong>{{ errorMsj_0}}</strong>
                        </span>
                    </div>
                    <form [formGroup]= "RegisterForm" (ngSubmit)="onRegister(RegisterForm.value)">
                    <div class="form-group">
                        Cedula:
                        <input type="text" class="form-control form-control-user" formControlName='cedula' placeholder="(obligatorio)" value="" maxlength="40">
                    </div>
                    <div class="form-group" *ngIf="errorStatus_1">
                        <span class="help-block">
                            <strong>{{ errorMsj_1 }}</strong>
                        </span>
                    </div>
                    <div class="form-group">
                        Nombres:
                        <input type="text" class="form-control form-control-user" formControlName='nombres' placeholder="(obligatorio)" value="" maxlength="90">
                    </div>
                    <div class="form-group">
                        apellidos:
                        <input type="text" class="form-control form-control-user" formControlName='apellidos' placeholder="(obligatorio)" value="" maxlength="90">
                    </div>
                    <div class="form-group">
                        Email:
                        <input type="text" class="form-control form-control-user" formControlName='email' placeholder="(obligatorio)" value="" maxlength="245">
                    </div>
                    <div class="form-group" *ngIf="errorStatus_2">
                        <span class="help-block">
                            <strong>{{ errorMsj_2 }}</strong>
                        </span>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            Contraseña:
                            <input id="password" type="password" class="form-control" formControlName="password" placeholder="(obligatorio)" maxlength="20">
                        </div>
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            Repetir Contraseña:
                            <input id="password_confirm" type="password" class="form-control" formControlName="password_confirm" placeholder="(obligatorio)" maxlength="20"></div>
                    </div>
                    <div class="form-group" *ngIf="errorStatus_3">
                        <span class="help-block">
                            <strong>{{ errorMsj_3 }}</strong>
                        </span>
                    </div>
                    
                    <button class="btn btn-success btn-user btn-block" type="submit">registrar</button>
                    <button class="btn btn-secondary btn-user btn-block" type="reset">Limpiar</button>
                    </form>
                  
                </div>
              
               <!-- Fin del formulario de registro de usuario-->            
            </div>
            <app-footer></app-footer>
        </div>
    </div>
    
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</body>